<h1>メンバー登録</h1>
<div><%= link_to 'ホーム', users_path %></div>
<%= form_for @user do |f| %>
  <div>   
    <%= f.label :grade, '学年' %>
    <%= f.text_field :grade %>
  </div>
  
  <div>  
    <input type= "radio" name= "gender" value= "man">男性
    <input type= "radio" name= "gender" value= "woman">女性
  </div>
  
  <div>
    <%= f.label :name, '名前' %>
    <%= f.text_field :name %>
  </div>
  
  <%= f.submit '登録' %>
<% end %>
